body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }
  .navbar a.navbar-brand {
      display: inline-block;
      padding: 20px;
      margin-right: 10px;
      margin-left: 10px;
      cursor: pointer;
    background-color: #00b377;
    color: white;
    border-radius: 10px;
  }
  .navbar navbar-nav navbar-item nav-link {
      text-align: right;
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #00b377;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
  }
  
  a {
    color: #d21034;
  }
  
  /* Selecting elements by class */
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  .container2 {
    width: 1024px;
    margin: 0 auto;
  }
  @media (min-width: 1000px){
  .parent{
    display:flex;
  }
  }
  
  
  /* Selecting elements by ID */
  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #figure {
    position: relative;
  }
  
  #bio-name {
    position: absolute;
    top: 150px;
    left: 30px;
  }
  
  #main-bio {
    width: 70%;
  }
  
  #contact-info {
    width: 30%;
    line-height: 1.5;
  }
  
  #bio-image {
    width: 300px;
    height: 300px;
    margin-right: 20px;
  }
  .figure {
    cursor: -moz-zoom-in;
  }
  /* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10 10px;
  width: 300px;
  height: 300px;
  margin-right: 20px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.mainArticleImage {    
  height: 500px;
  width: 730px;
}
.ImageCenterContainer {
  margin: 0 auto;
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
  text-align:center;
  margin-right: 0px;
  margin-left: 0px;
}
img1 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 3px 3px 3px rgb(29, 28, 28);
  padding: 10%;
}